@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');

h1,h2{
    font-family: 'Heebo', sans-serif;
    margin-top:10px;
}
table{
    text-align: center;
    font-family: 'Heebo', sans-serif;
}
th{
    font-weight: 500;
    color: #FFF;
    position: sticky;
    top: 0;
    background: #DC3545;
  /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}
h3{
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: lighter;
}
h1, h3, h2, footer{
    text-align: center;
}
h2{
    color: #FF0000;
    background-color: #FFFF00;
}
footer{
    font-size: small;
}
