@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');

h1{
    font-family: 'Heebo', sans-serif;
    margin-top:10px;
}
table{
    text-align: center;
    font-family: 'Heebo', sans-serif;
}
th{
    font-weight: 500;
    color: #FFF;
}
h3{
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: lighter;
}
h1, h3, footer{
    text-align: center;
}
footer{
    font-size: small;
}